.foot{
  display: flex;
  justify-content: space-between;
}

.header{
  display: flex;
  justify-content: end;
  margin-bottom: 5px;
}

button{
  cursor: pointer;
  font-size: 14px;
  height: 50px;
  width: 300px;
  border-radius: 5px;
  text-align: center;
  border:none;
}